maxscale]
threads=4

[Splitter Service]
type=service
router=readwritesplit
servers=dbserv1, dbserv2
user=maxuser
passwd=password

[Splitter Listener]
type=listener
service=Splitter Service
protocol=MySQLClient
port=3306
socket=/tmp/ClusterMaster

[dbserv1]
type=server
address=172.18.0.11
port=3306
protocol=MySQLBackend

[dbserv2]
type=server
address=172.18.0.12
port=3306
protocol=MySQLBackend

[CLI]
type=service
router=cli

[CLI Listener]
type=listener
service=CLI
protocol=maxscaled
socket=default
